@font-face {
    font-family: 'ActaDisplayW01-BookItalic';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-BookItalic.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ActaDisplayW01-XBold';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-XBold.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-XBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-Medium';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Medium.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-Light';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Light.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-MediumItalic';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-MediumItalic.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-LightItalic';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-LightItalic.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-BlackItalic';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-BlackItalic.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-XBoldItalic';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-XBoldItalic.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-XBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-Book';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Book.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-BoldItalic';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-BoldItalic.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-Bold';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Bold.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ActaDisplayW01-Black';
    src: url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Black.woff2') format('woff2'),
        url('#{$themePath}fonts/actadisplay/ActaDisplayW01-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}







@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('#{$themePath}fonts/worksans/WorkSans-SemiBold.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Bold';
    src: url('#{$themePath}fonts/worksans/WorkSans-Bold.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-ExtraBold';
    src: url('#{$themePath}fonts/worksans/WorkSans-ExtraBold.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Thin';
    src: url('#{$themePath}fonts/worksans/WorkSans-Thin.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('#{$themePath}fonts/worksans/WorkSans-Regular.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Black';
    src: url('#{$themePath}fonts/worksans/WorkSans-Black.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-ExtraLight';
    src: url('#{$themePath}fonts/worksans/WorkSans-ExtraLight.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Medium';
    src: url('#{$themePath}fonts/worksans/WorkSans-Medium.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Light';
    src: url('#{$themePath}fonts/worksans/WorkSans-Light.woff2') format('woff2'),
        url('#{$themePath}fonts/worksans/WorkSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {font-family: 'TradeGothicLT-BoldCondTwenty';src: url('#{$themePath}fonts/kov_snipes/webfonts/35F9F5_0_0.eot');src: url('#{$themePath}fonts/kov_snipes/webfonts/35F9F5_0_0.eot?#iefix') format('embedded-opentype'),url('#{$themePath}fonts/kov_snipes/webfonts/35F9F5_0_0.woff2') format('woff2'),url('#{$themePath}fonts/kov_snipes/webfonts/35F9F5_0_0.woff') format('woff'),url('#{$themePath}fonts/kov_snipes/webfonts/35F9F5_0_0.ttf') format('truetype');}

