header {
	display: flex;
	height:98px;
	width:100%;
}


.header_left {
	display: flex;
	align-items: center;
	flex-basis: 50%;
	.menu_wrapper {
		width:115px;
		text-align: center;
		cursor: pointer;
		span.menu_bar {
			width:100%;
			height:4px;
			background: $orangered;
			display: block;
			margin:0 auto 7px;
			max-width:52px;
		}
		span.menu_title {
			color:$orangered;
			text-transform: uppercase;
			font-family: $workblack;
			font-size: 15px;
			letter-spacing: 0.15em;
			display: block
		}
	}
	a.logo {
		border-left:1px solid $bluedark;
		padding-left: 31px;
		display: block;
	}
}


.header_right {
	flex-basis:50%;
	background:$bluedark;
	padding-right:45px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	a {
		color:#fff;
		text-decoration: none;
		font-size: 35px;
		font-family: $actabook;
		letter-spacing: 0.05em;
		&:first-of-type {
			margin-right:50px;
			&:before {
				content:"P";
				color:$orangered;
				font-family: $workbold;
				font-size:16px;
				letter-spacing: 0;
				margin-right:12px;
			}
		}
		&:last-of-type {
			&:before {
				content:"TF";
				color:$orangered;
				font-family: $workbold;
				font-size:16px;
				letter-spacing: 0;
				margin-right:4px;
			}
		}
	}
}


.mobile_header {
	display: none;
}



.fixed_menu_wrapper {
	opacity: 0;
	transition: opacity 500ms linear;
	position: fixed;
	top:50%;
	left:0;
	z-index:5;
	width: 98px;
	.fixed_menu {
		width:100%;
		height:90px;
		text-align: center;
		cursor: pointer;
		background: $orangered;
		padding-top:22px;
		box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
		transition: all .2s ease-in-out;
		&:hover {
			background: $gold;
		}
		span.menu_bar {
			width:100%;
			height:4px;
			background: #fff;
			display: block;
			margin:0 auto 7px;
			max-width:52px;
		}
		span.menu_title {
			color:#fff;
			text-transform: uppercase;
			font-family: $workblack;
			font-size: 15px;
			letter-spacing: 0.15em;
			display: block
		}
	}
	.fixed_email {
		background: $bluedark;
		height:90px;
		width:100%;
		padding-top:20px;
		box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
		img {
			width:52px;
			display: block;
			margin:0px auto 0;
		}
	}
}



.fixed_menu_wrapper.visible {
	opacity: 1;
}



body.page-template-page-home {
	.fixed_email {
		display: none;
	}
}


body:not(.page-template-page-home) {
	
		.fixed_menu_wrapper {
			width:90px;
			top:43%;
			.fixed_menu {
				padding-top: 24px;
				height: 83px;
				&:hover {
			
				}
				span.menu_bar {
					height:3px;
					margin-bottom:5px;
					max-width: 46px;
				}
				span.menu_title {
					font-size: 13px;
				}
			}
			.fixed_email {
				height: 83px;
				opacity: 1;
				transition: all 300ms linear;
				img {
					
				}
			}
			.fixed_email.hide {
				opacity: 0;
				
			}
		}
}







.header_mail_wrapper {
	display: none;
	background: $greylight;
	height:100%;
	width:119px;
	padding-top:24px;
	margin-left:41px;
	img {
		width:62px;
		height: auto;
		margin:0 auto;
		display: block;
	}
}


body.page-template-page-about {
	.header_right {
		flex-basis: 59%;
	}
}


body:not(.page-template-page-home) {
	header.banner {
		.header_left {
			a.logo {
				border-left:none;
			}
			.menu_wrapper {
				background:$orangered;
				height:100%;
				padding-top:26px;
				span.menu_bar {
					background:#fff;
				}
				span.menu_title {
					color: #fff;
				}
			}
		}
	}
	
	header.no-banner {
		.header_left {
			background: $bluedark;
			flex-basis: 400px;
			a.logo {
				border-left:0;
			}
			.menu_wrapper {
				background: $orangered;
				height:100%;
				padding-top:25px;
				span.menu_bar {
					background:#fff;
				}
				span.menu_title {
					color:#fff;
				}
			}
		}
		.header_right {
			flex-basis: 100%;
			padding-right:0;
		}
		.header_mail_wrapper {
			display: block;
		}
		
	}
}



@media screen and (max-width: 1450px) {
	
	.header_left {
		flex-basis: 41%;
	}
	
	
	.header_right {
		flex-basis: 59%;
		padding-right: 82px;
		a  {
			font-size: 30px;
			&:first-of-type {
				margin-right: 25px;
			}
		}
		
	}
	

} /* Media Query */




@media screen and (max-width: 1250px) {
	
	
	.header_left {
		flex-shrink: 0;
		flex-basis: 505px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	
	
	
body:not(.page-template-page-home) {
	header.no-banner {
		.header_left {
			
			a.logo {
				
			}
			.menu_wrapper {
				
				span.menu_bar {
					
				}
				span.menu_title {
					
				}
			}
		}
		.header_right {
			
		}
		.header_mail_wrapper {
			margin-left: 14px;
		}
		
	}
}

	
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1125px) {
	
	
	

	body:not(.page-template-page-home) {
		.header_mail_wrapper {
			display: block;
		}
		header.no-banner, header.banner {
			.header_left {
				background: $bluedark;
				.menu_wrapper {
					background: $orangered;
					height:100%;
					width:98px;
					padding-top:24px;
					span.menu_bar {
						background: #fff;	
					}
					span.menu_title {
						color:#fff;
					}
				}
			}
		.header_right {
			background: $bluedark;
			padding:0;
			a {
				color:#fff;
			}
		}
		}
		
	}

	
	
	header {
		height: 92px;
	}
	
	.header_left {
		flex-basis: 381px;
		a.logo {
			padding-left: 23px;
			img {
				width:253px;
			}
		}
		.menu_wrapper {
			width: 98px;
			span.menu_bar {
				max-width: 44px;
				height: 3px;
				margin-bottom:5px;
			}
			span.menu_title {
				font-size:13px;
				letter-spacing: 0.15em;
			}
		}
	}
	
	.header_right {
		background: #fff;
		text-align: right;
		padding-right: 27px;
		flex-basis: auto;
		flex-grow:1;
		.tel_wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		a {
			color:#1f2932;
			font-size:26px;
			
			&:first-of-type {
				margin-right:0;
				margin-bottom:8px;
				&:before {
					margin-right: 12px;
				}
			}
			&:last-of-type {
				&:before {
					margin-right: 9px;
				}
			}
		}
	}
	
	
	.header_mail_wrapper {
		width: 89px;
		margin-left: 26px;
		img {
			width: 53px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	body:not(.page-template-page-home) {
		header.no-banner, header.banner {
			.header_left {
				flex-basis: 100%;
				background: #fff;
			}
			.header_right {
				a {
				
				}
			}
		}
	}
	
	
	
	
	.fixed_menu_wrapper {
		display: none;
	}
	
	
	
	header {
		height: 87px;
	}
	
	.header_left {
		flex-basis: 100%;
		justify-content: center;
		position: relative;
		z-index: 600;
		background: #fff;
		a.logo {
			border-left:0;
			padding-left:0;
			img {
				width: 292px;
			}
		}
		.menu_wrapper {
			display: none;
		}
	}
	
	
	
	.header_right {
		display: none;
	}
	
	
	
	.mobile_header.visible {
		position: fixed;
	}
	
	
	
	.mobile_header {
		display: flex;
		height: 83px;
		position: relative;
		top:0;
		left:0;
		z-index:600;
		width:100%;
		.menu_wrapper {
			display: block;
			background: $orangered;
			padding: 20px 0 0;
			span.menu_bar {
				width:100%;
				height:3px;
				background: #fff;
				display: block;
				margin:0 auto 7px;
				max-width: 45px;
			}
			span.menu_title {
				color:#fff;
				text-transform: uppercase;
				font-family: $workblack;
				font-size: 13px;
				letter-spacing: 0.15em;
				display: block;
				text-align: center;
			}
		}
	}
	
	
	.mobile_tel {
		border-right:1px solid #3f4857;
		background: $bluedark;
		a {
			display: block;
			img {
				width:55px;
			}
		}
	}
	
	
	.mobile_contact {
		
		background:$bluedark;
		img {
			width:53px;
		}
	}
	
	
	
	.menu_wrapper, .mobile_tel, .mobile_contact {
		flex-basis: 33.333%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	
	
	
	
	
} /* Media Query */

