header {
	display: flex;
	height:98px;
	width:100%;
}


.header_left {
	display: flex;
	align-items: center;
	flex-basis: 50%;
	.menu_wrapper {
		width:115px;
		text-align: center;
		
		span.menu_bar {
			width:100%;
			height:4px;
			background: $orangered;
			display: block;
			margin:0 auto 7px;
			max-width:52px;
		}
		span.menu_title {
			color:$orangered;
			text-transform: uppercase;
			font-family: $workblack;
			font-size: 15px;
			letter-spacing: 0.15em;
			display: block
		}
	}
	a.logo {
		border-left:1px solid $bluedark;
		padding-left: 31px;
		display: block;
	}
}


.header_right {
	flex-basis:50%;
	background:$bluedark;
	padding-right:45px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	a {
		color:#fff;
		text-decoration: none;
		font-size: 35px;
		font-family: $actabook;
		letter-spacing: 0.05em;
		&:first-of-type {
			margin-right:50px;
			&:before {
				content:"P";
				color:$orangered;
				font-family: $workbold;
				font-size:16px;
				letter-spacing: 0;
				margin-right:12px;
			}
		}
		&:last-of-type {
			&:before {
				content:"TF";
				color:$orangered;
				font-family: $workbold;
				font-size:16px;
				letter-spacing: 0;
				margin-right:4px;
			}
		}
	}
}


.mobile_header {
	display: none;
}


@media screen and (max-width: 1450px) {
	
	.header_left {
		flex-basis: 41%;
	}
	
	
	.header_right {
		flex-basis: 59%;
		padding-right: 82px;
		a  {
			font-size: 30px;
			&:first-of-type {
				margin-right: 25px;
			}
		}
		
	}
	

} /* Media Query */




@media screen and (max-width: 1250px) {
	
	
	.header_left {
		flex-shrink: 0;
		flex-basis: 505px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1125px) {
	
	
	header {
		height: 92px;
	}
	
	.header_left {
		flex-basis: 381px;
		a.logo {
			padding-left: 23px;
			img {
				width:253px;
			}
		}
		.menu_wrapper {
			width: 98px;
			span.menu_bar {
				max-width: 44px;
				height: 3px;
				margin-bottom:5px;
			}
			span.menu_title {
				font-size:13px;
				letter-spacing: 0.15em;
			}
		}
	}
	
	.header_right {
		background: #fff;
		flex-direction: column;
		text-align: right;
		align-items: flex-end;
		padding-right: 27px;
		justify-content: center;
		flex-basis: auto;
		flex-grow:1;
		a {
			color:#1f2932;
			font-size:26px;
			
			&:first-of-type {
				margin-right:0;
				margin-bottom:8px;
				&:before {
					margin-right: 12px;
				}
			}
			&:last-of-type {
				&:before {
					margin-right: 9px;
				}
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	header {
		height: 87px;
	}
	
	.header_left {
		flex-basis: 100%;
		justify-content: center;
		a.logo {
			border-left:0;
			padding-left:0;
			img {
				width: 292px;
			}
		}
		.menu_wrapper {
			display: none;
		}
	}
	
	
	
	.header_right {
		display: none;
	}
	
	
	.mobile_header {
		display: flex;
		height: 85px;
		.menu_wrapper {
			display: block;
			background: $orangered;
			padding: 21px 0 0;
			span.menu_bar {
				width:100%;
				height:3px;
				background: #fff;
				display: block;
				margin:0 auto 7px;
				max-width: 45px;
			}
			span.menu_title {
				color:#fff;
				text-transform: uppercase;
				font-family: $workblack;
				font-size: 13px;
				letter-spacing: 0.15em;
				display: block;
				text-align: center;
			}
		}
	}
	
	
	.mobile_tel {
		border-right:1px solid #3f4857;
		background: $bluedark;
		a {
			display: block;
			img {
				width:55px;
			}
		}
	}
	
	
	.mobile_contact {
		
		background:$bluedark;
		img {
			width:53px;
		}
	}
	
	
	
	.menu_wrapper, .mobile_tel, .mobile_contact {
		flex-basis: 33.333%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	

	
	
	
} /* Media Query */

