.int_banner_wrapper {
	width:100%;
	height:596px;
	display:flex;
}


.int_banner_image {
	background: url(#{$themePath}images/banner-one.jpg) top center no-repeat;
	background-size:cover;
	flex-basis: 59%;
}


.int_banner_content_wrapper {
	background: $bluedark;
	flex-basis: 41%;
	flex-shrink: 0;
	padding:0 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	span.int_banner_content {
		display: block;
		color:#fff;
		font-family: $actabook;
		font-size: 70px;
		line-height: 75px;
		letter-spacing: 0.02em;
		max-width:511px;
		strong {
			font-weight: 300;
			color:$gold;
		}
	}
	a.int_start_button {
		background: $orangered;
		color:#fff;
		text-transform: lowercase;
		font-size:22px;
		font-family: $tradegothic;
		text-decoration: none;
		letter-spacing: 0.1em;
		padding:24px 43px;
		display: inline-block;
		box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
		transition: all .2s ease-in-out;
		margin-top:20px;
		&:hover {
			background: $gold;
		}
	}
}


// about banner



.about_banner_wrapper {
	width:100%;
	height:734px;
	display:flex;
}


.about_banner_image {
	background: url(#{$themePath}images/hero-intl-about.jpg) top center no-repeat;
	background-size:cover;
	flex-basis: 52%;
}





.about_banner_content_wrapper {
	background: $bluedark;
	flex-basis: 48%;
	flex-shrink: 0;
	padding:0 45px 0 165px;
	display: flex;
// 	justify-content: center;
	// align-items: center;
	
	span.about_banner_content {
		display: block;
		color:#fff;
		font-family: $actabook;
		font-size: 70px;
		line-height: 75px;
		letter-spacing: 0.02em;
		max-width: 655px;
		padding-top:52px;
		&:before {
			content:"";
			display: block;
			width: 666px;
			height: 123px;
			background: url(#{$themePath}images/new-mountain.svg);
			opacity: 0.055;
			left:-165px;
			top:55px;
			position: relative;
		}
		strong {
			font-weight: 300;
			color:$gold;
		}
	}
	a.about_start_button {
		background: $orangered;
		color:#fff;
		text-transform: lowercase;
		font-size:22px;
		font-family: $tradegothic;
		text-decoration: none;
		letter-spacing: 0.1em;
		padding:24px 43px;
		display: inline-block;
		box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
		transition: all .2s ease-in-out;
		margin-top:30px;
		&:hover {
			background: $gold;
		}
	}
}






@media screen and (max-width: 1665px) {
	
	
	
	
	
	
	.about_banner_image {
		flex-basis:auto;
		width:797px;
/*
		flex-shrink:0;
		flex-grow:0;
*/
	}
	
	
	
	.about_banner_content_wrapper {
		flex-basis:auto;
		width: calc(100% - 797px);
		overflow: hidden;
		padding: 0 45px 0 66px;
		display: block;
		// overflow: hidden;
	}
	
	
	.about_banner_content_wrapper {
		span.about_banner_content {
			&:before {
				left: -23px;
			}
			font-size: 56px;
			line-height: 62px;
			max-width: 565px;
			
		}
	}
	
	
	    
	
	
} /* Media Query */


@media screen and (max-width: 1515px) {
	
	
	.int_banner_content_wrapper {
		flex-basis:621px;
	}
	
	
	
	
	
	
} /* Media Query */










@media screen and (max-width: 1435px) {
	
	.about_banner_wrapper {
    height: 595px;
   }
	
	
	.about_banner_content_wrapper {
		padding: 0 0px 0 7%;
		span.about_banner_content {
			&:before {
				width: 520px;
				height: 97px;
			}
			padding-top:25px;
		}
	}
	
	
	.about_banner_image {
		 width: 676px;
	}

	
	.about_banner_content_wrapper {
		width: calc(100% - 676px);
	}
   





} /* Media Query */



@media screen and (max-width: 1350px) {
	
	
	.about_banner_content_wrapper {
		padding: 0 0px 0 4%;
		span.about_banner_content {
			&:before {
			
			}
			
		}
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1275px) {
	
	
	
	
	
	.about_banner_content_wrapper {
		display: none;
	}
	
	.about_banner_image {
		width:100%;
	}
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1175px) {
	

	
	.int_banner_wrapper {
		display: none;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1099px) {
	
	.about_banner_wrapper {
    height: 460px;
	}
	
	.about_banner_image {
		background-position-y: -30px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1000px) {
	
	
	.about_banner_wrapper {
    height: 390px;
	}
	
	
	
} /* Media Query */
