body.page-template-page-contact {
	.footer_location {
		display: none;
	}
}


.contact_outer {
	display: flex;
}


.contact_left {
	flex-basis:46%;
	background:$greylight;
	position: relative;
	#googlemap {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

.contact_right {
	flex-basis:54%;
	padding: 30px 75px 81px 7%;
	.contact_right_inner {
		max-width:778px;
		span.contact_subheader.social_header_mobile, ul.social_list_mobile {
			display: none;
		}
		h1.contact_intro {
			color:$orangered;
			font-size:135px;
			letter-spacing: 0.04em;
			font-weight:300;
			font-style: normal;
			font-family: $actamedium;
			border-bottom: 2px solid $gold;
			padding-bottom:54px;
			display: block;
			margin-bottom:33px;
			&:before {
				content:"";
				background: url(#{$themePath}images/new-buffalo.svg);
				//background-size:cover;
				width:200px;
				height: 205px;
				display: block;
				position: relative;
				top:10px;
				left:-105px;
				z-index:-1;
			}
			&:after {
				display: none;
			}
		}
		.contact_description {
			margin-bottom:75px;
			display: block;
		}
		.contact_col_wrapper {
			display: flex;
			justify-content: space-between;
		}
		.contact_col {
			width:46%;
		}
		span.contact_subheader {
			color:$gold;
			display: block;
			text-transform: uppercase;
			font-family: $workextrabold;
			letter-spacing: 0.3em;
			margin-bottom:5px;
			font-size:16px;
		}
		a.contact_address, a.contact_tel {
			color:$bluedark;
			font-size:30px;
			font-family: $actabook;
			line-height: 45px;
			display: block;
			max-width:315px;
			text-decoration: none;
			transition: all .2s ease-in-out;
			
			&:hover {
				color:$orangered;
			}
		}
		a.contact_address {
			margin-bottom:0;
		}
		a.contact_tel {
			margin-bottom:44px;
		}
		a.get_directions {
			background:$orangered;
			display: inline-block;
			font-family: $tradegothic;
			text-transform: lowercase;
			color:#fff;
			padding:12px 45px;
			box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
			margin:13px 0 80px;
			letter-spacing: 0.1em;
			font-size:17px;
			transition: all .2s ease-in-out;
			text-decoration: none;
			&:hover {
				background: $gold;
				
			}
		}
		ul.contact_social {
			padding-top:5px;
			li {
				display: inline-block;
				margin:0;
				padding:0;
				font-size:25px;
				text-transform: lowercase;
				font-family: $actabook;
				margin-right:6%;
				&:last-of-type {
					margin-right:0;
				}
				&:before {
					display: none;
				}
				a {
					color:$bluedark;
					text-decoration: none;
					transition: all .2s ease-in-out;
					&:hover {
						color:$orangered;
					}
				}
			}
		}
	}
}
	


@media screen and (max-width: 1675px) {
	
	
	
	.contact_left {
		flex-basis:40%;
	}
	
	
	.contact_right {
		flex-basis:60%;
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1600px) {
	
	h1.contact_intro {
				&:before {
					left: -50px;
				}
			}
	
	
.contact_right {
	padding: 30px 75px 81px 5%;
	.contact_right_inner {
		
		h1.contact_intro {
			
			&:before {
				top:0;
				left: -75px;
			}
			&:after {
				
			}
		}
		.contact_description {
			
		}
		.contact_col_wrapper {
			
		}
		.contact_col {
			
		}
		span.contact_subheader {
			
		}
		a.contact_address, a.contact_tel {
			
			&:hover {
				
			}
		}
		a.get_directions {
			
			&:hover {
				
				
			}
		}
		ul.contact_social {
			
			li {
				
				&:last-of-type {
					
				}
				&:before {
					
				}
				a {
					
					&:hover {
						
					}
				}
			}
		}
	}
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1475px) {
	
	
	
	.contact_right {
		padding-left:85px;
		padding-right:85px;
		.contact_right_inner {
			
			.contact_col_wrapper {
				display: block;
			}
			.contact_col {
				width:100%;
			}
			a.get_directions {
				margin: 13px 0 43px;
			}
			a.contact_address {
				
			}
			a.contact_tel {
				margin-bottom: 23px;
			}
			.contact_description {
				margin-bottom: 55px;
			}
		}
	}  
	
	       

	
} /* Media Query */



@media screen and (max-width: 1175px) {
	
.contact_right {
	.contact_right_inner {
		margin-top:130px;
		h1.contact_intro {
			font-size: 80px;
			line-height: 75px;
			position: relative;
			padding-bottom: 26px;
			&:before {
				width: 163px;
				height: 160px;
				top: -125px;
				left:-55px;
				position: absolute;
				
			}
		}
	}
}
	
	
	  
	
	
} /* Media Query */


@media screen and (max-width: 1060px) {
	
	
	
	.contact_outer {
		flex-direction: column;
	}
	
	.contact_left {
		height:500px;
		order:2;
	}
	
	
	
	.contact_right {
		order:1;
		padding-bottom:34px;
		text-align: center;
		.contact_right_inner {
			margin-left:auto;
			margin-right:auto;
			margin-top: 16px;
			span.social_header_desktop, ul.social_list_desktop {
				display: none;
			}
			span.contact_subheader.social_header_mobile {
			display: block;
			}
			ul.contact_social.social_list_mobile {
				display: block;
				li {
					display: inline-block;
					margin-left:8px;
					margin-right:8px;
				}
				
			}
			h1.contact_intro {
				display: inline-block;
				padding-left: 10%;
				padding-right:10%;
				&:before {
					width: 163px;
					height: 160px;
					display: block;
					margin-left:auto;
					margin-right:auto;
					position: static;
				}
			}
			span.contact_description {
				max-width: 490px;
				margin-left:auto;
				margin-right:auto;
			}
			a.contact_address {
				margin-left:auto;
				margin-right:auto;
			}
			a.contact_address, a.contact_tel {
				margin-left:auto;
				margin-right:auto;
			}
		}
	}
	
	
				
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.contact_left {
		height:300px;
		 #googlemap {
			 
		 }
	}	
	
	
.contact_right {
	padding-left:21px;
	padding-right:21px;
	.contact_right_inner {
		h1.contact_intro {
			font-size: 40px;
			line-height: 45px;
			padding-bottom: 12px;
			&:before {
				width:90px;
				height: 90px;
				position: relative;
				top:4px;left:0;
			}
		}
		span.contact_subheader {
			font-size: 15px;
		}
		a.contact_address {
			line-height: 38px;
		}
		a.contact_address, a.contact_tel {
			 font-size: 28px;
		}
		span.contact_description {
			 margin-bottom: 40px;
		}
		ul.contact_social.social_list_mobile {
			
			li {
				display: block;
				margin:0 0 25px;
				&:last-of-type {
					
				}
				&:before {
					
				}
				a {
					
					&:hover {
						
					}
				}
			}
		}
	}
}
	
	
	
	
} /* Media Query */

