.about_page_wrapper {
	
}


span.about_page_goldline {
	width:1px;
	height:170px;
	background: $gold;
	display: block;
	margin-left:auto;
	margin-right:auto;
}


h1.about_title {
	font-size: 150px;
	color:$orangered;
	font-family: $actamedium;
	font-weight:300;
	font-style:normal;
	text-transform: capitalize;
	text-align: center;
	line-height: 145px;
	display: block;
	margin:55px 0;
}





.about_page_wrapper {
	
}


.about_page_content_wrapper {
	display: flex;
	padding:48px 0 0px;
}


.about_page_image {
	flex-basis:602px;
	flex-shrink: 0;
	flex-grow:0;
	max-height: 754px;
	position: relative;
	blockquote {
		display: none;
	}
	img {
		display: block;
		max-width:100%;
		height:auto;
	}
	.about_peace {
		position: absolute;
		background:$bluedark;
		bottom:0;
		right:0;
		width:235px;
		height:235px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-content: center;
		svg {
			width:93%;
		}
	}
}


.about_page_content {
	flex-grow:1;
	padding:0 6%;
	// max-width:1150px;
	margin-top:-15px;
}


.about_page_content.content {
	blockquote {
		padding-top:0;
		max-width:900px;
	}
}



.about_page_blockquote {
	border-top:7px solid $orangered;
	display: inline-block;
	text-transform: uppercase;
	font-family: $tradegothic;
	color:$bluedark;
	font-size:22px;
	letter-spacing: 0.1em;
	line-height: 30px;
	padding-top:30px;
	max-width:292px;
	padding-right:10px;
	margin-bottom:86px;
}


.about_page_col {
	width:45%;
	margin:50px 0 115px;
	float:left;
	&:last-of-type {
		margin:40px 0 40px 37px;
		
	}
}


.about_page_slider_section {
	padding:120px 0 185px;
	text-align: center;
	background: url(#{$themePath}images/ico-pattern-a.png) top left repeat;
	span.about_page_awards {
		color:$gold;
		font-family: $actabold;
		font-size:85px;
		letter-spacing: 0.02em;
		margin-bottom:75px;
		display: block;
	}
}


.about_page_slider {
	max-width:1745px;
	margin-left:auto;
	margin-right:auto;
	.about_page_single_slide {
		text-align: center;
		img {
			display: block;
			margin-left:auto;
			margin-right:auto;
		}
	}
	.slick-dots {
		bottom: -95px;
		li.slick-active {
			button {
				&:before {
					color:$orangered;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$orangered;
				}
			}
		}
		li {
			margin:0;
			width:18px;
			button {
				width:16px;
				&:before {
					width:16px;
					opacity: 1;
					color: $bluedark;
					font-size:22px;
				}
			}
		}
	}
}



@media screen and (max-width: 1880px) {
	
	.about_page_content {
		padding: 0 45px 0 4%;
	}
	
	    
	
	
	
} /* Media Query */



@media screen and (max-width: 1595px) {
	
	
	
	.about_page_image {
    flex-basis: 500px;
    max-height: 626px;
    .about_peace {
			width:190px;
			height:190px;
		}
  }
	
	
	
	
	
	
} /* Media Query */

@media screen and (max-width: 1430px) {
	
	
	h1.about_title {
		font-size: 113px;
		margin: 30px 0;
	}
	
	span.about_page_goldline {
    height: 100px;
   }
	
	
} /* Media Query */



@media screen and (max-width: 1245px) {
	
	
	
	
	.about_page_image {
    flex-basis: 400px;
    max-height: 501px;
    .about_peace {
			width:140px;
			height:140px;
		}
  }
	
	
	.about_page_blockquote {
		margin-bottom: 54px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 1165px) {
	
	.about_page_wrapper {
		padding:47px 0px 0;
		
	}
	
	
	span.about_page_goldline {
    display: none;
   }
	
	
	h1.about_title {
		font-size: 80px;
		line-height: 88px;
	}
	
	
	
	.about_page_content_wrapper {
		flex-direction: column;
	}
	
	
	
	.about_page_image {
    flex-basis: auto;
    width:100%;
//     max-width:500px;
    max-height: 100%;
    padding:0 0 0 55px;
    display: flex;
    blockquote {
	   	display: block;
	   	border-top:7px solid $orangered;
		 	display: inline-block;
		 	text-transform: uppercase;
		 	font-family: $tradegothic;
		 	color:$bluedark;
		 	font-size:22px;
		 	letter-spacing: 0.1em;
		 	line-height: 30px;
		 	padding-top:30px;
		 	margin-left:auto;
		 	margin-right:auto;
		 	padding-right:10px;
		 	margin-bottom:86px;
		 	flex-basis: calc(100% - 500px);
		 	max-width: 394px;
	   }
    .about_page_image_inner {
	   	flex-basis:500px;
	    position: relative;
	    flex-shrink: 0;
	    flex-grow:0;
	    
    }
    img {
	    
    }
    .about_peace {
			width:140px;
			height:140px;
		}
  }
	

.about_page_content {
	padding:0;
	margin: 72px 55px 88px;
}

.about_page_content.content {
	blockquote {
		font-size: 30px;
		line-height: 45px;
		max-width:100%;
	}
} 


.about_page_blockquote {
	display: none;
}


.about_page_col {
	margin:0;
	width:100%;
	float:none;
	&:last-of-type {
		margin:0;
	}
}




.about_page_slider_section {
	padding: 120px 45px 159px;
	span.about_page_awards {
		font-size: 70px;
	}
}


.about_page_slider {
  max-width: 925px;
 .slick-dots {
		bottom: -66px;
		li.slick-active {
			button {
				&:before {
					
				}
			}
		}
		li:hover {
			button {
				&:before {
					
				}
			}
		}
		li {
			
			width:24px;
			button {
				width:24px;
				&:before {
					width:24px;
					
				}
			}
		}
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1020px) {
	
	
	
	
	.about_page_image {
    padding-right:55px;
    blockquote {
	   	margin-left:33px;
	   	margin-right: 0;
	   	flex-basis: auto;
	  }
    .about_page_image_inner {
	   	flex-basis: auto;
	    width:52%;
	  }
    img {
	    
    }
    .about_peace {
	    width:131px;
			height:131px;
		}
  }
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	
	.about_banner_wrapper {
		display: none;
	}
	
	
	h1.about_title {
		font-size: 40px;
    line-height: 45px;
    margin:0;
	}
	
	
	.about_page_image {
		padding-right:20px;
		padding-left:20px;
		blockquote {
		 margin-left: 20px;
		}
	}
	
	
	.about_page_content {
    margin: 40px 20px 40px;
	}
	
	
	.about_page_slider_section {
		padding:50px 20px 80px;
		span.about_page_awards {
			font-size: 52px;
			margin-bottom: 36px;
		}
	}
	
	
	
	.about_page_slider {
		.about_page_single_slide {
			img {
				max-width:100%;
				height:auto;
			}
		}
		.slick-dots {
    	bottom: -50px;
		}
	}
	  
	
	
} /* Media Query */


@media screen and (max-width: 545px) {
	
	
	.about_page_image {
		flex-direction: column;
		.about_page_image_inner {
			margin-left:auto;
			margin-right:auto;
			width:100%;
		}
		blockquote {
			display: none;
		}
	}
	
	
	.about_page_blockquote {
		display: block;
		margin-bottom: 41px;
		max-width: 402px;
	}
	
	.about_page_content_wrapper {
		padding: 36px 0 0px;
	}
	
	
	
	
	
	
	
} /* Media Query */

