.cr_intro_page {
	text-align: center;
	border-top:2px solid $gold;
	padding-top:45px;
	max-width:1045px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-35px;
	span.cr_intro {
		text-transform: uppercase;
		color:$bluedark;
		font-family: $workextrabold;
		font-size: 18px;
		letter-spacing: 0.5em;
		display: block;
		margin-bottom:25px;
		
	}
	.cr_intro_content {
		font-size: 18px;
		font-family: $workregular;
		color:#555555;
		line-height: 32px;
		max-width: 815px;
		margin-left:auto;
		margin-right:auto;
	}
}



.cr_page_wrapper {
	max-width: 1680px;
	margin:142px auto 70px;
	display: flex;
	flex-grow: 0;
	flex-wrap:wrap;
	position: relative;
	.single_int_cr.hover {
		.single_cr_inner_second_state {
			opacity: 1;
			span.cr_int_amount, span.cr_int_description {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
	.single_int_cr {
		flex-basis: 33.33333%;
		text-align: center;
		height:568px;
		position: relative;
		cursor: pointer;
		&:nth-of-type(2n + 1) {
			.single_cr_inner_first_state {
				background: url(#{$themePath}images/ico-pattern-b.png) top left repeat;
			}
		}
		&:nth-of-type(2n + 2) {
			.single_cr_inner_first_state {
				background: url(#{$themePath}images/ico-pattern-a.png) top left repeat;
			}
		}
		.single_cr_inner_first_state, .single_cr_inner_second_state {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
		.single_cr_inner_first_state {
			z-index: 1;
			padding:183px 45px 0;
		}
		.single_cr_inner_second_state {
			z-index: 3;
			background:  url(#{$themePath}images/ico-pattern-c.png) top left repeat;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			opacity: 0;
			transition: opacity 300ms linear;
			padding:0 45px;
			span.cr_int_amount {
				color:#fff;
				transform: translateY(30px);
				transition: transform 800ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
				opacity: 0;
			}
			span.cr_int_description {
				color:#fff;
				font-family: $workregular;
				font-size: 17px;
				line-height: 32px;
				max-width: 450px;
				margin-left:auto;
				margin-right:auto;
				display: block;
				transform: translateY(30px);
				transition: transform 800ms cubic-bezier(.17,.66,.34,.98), opacity 400ms linear;
				opacity: 0;
				&:before {
					content:"";
					width:45px;
					height:1px;
					background: $bluedark;
					margin:24px auto 40px;
					display: block;
				}
			}
		}
		span.cr_int_amount {
			color:$gold;
			display: block;
			font-size: 85px;
			font-family: $actamedium;
			margin-bottom:15px;
		}
		span.cr_int_title {
			text-transform: uppercase;
			color:#39454b;
			font-family: $workbold;
			line-height: 25px;
			display: block;
			font-size: 18px;
			letter-spacing: 0.085em;
		}
		span.cr_int_result {
			color:$orangered;
			text-transform: lowercase;
			font-family: $actamediumitalic;
			font-size:22px;
			letter-spacing: 0.05em;
			display: block;
			margin:37px 0 0;
		}
	}
}


@media screen and (max-width: 1380px) {
	
	
	
	
.cr_page_wrapper {
	
	.single_int_cr.hover {
		.single_cr_inner_second_state {
			
			span.cr_int_amount, span.cr_int_description {
				
			}
		}
	}
	.single_int_cr {
		flex-basis: 50%;
		&:nth-of-type(4n + 1), &:nth-of-type(4n + 4) {
			.single_cr_inner_first_state {
				background: url(#{$themePath}images/ico-pattern-b.png) top left repeat;
			}
		}
		&:nth-of-type(4n + 2), &:nth-of-type(4n + 3) {
			.single_cr_inner_first_state {
				background: url(#{$themePath}images/ico-pattern-a.png) top left repeat;
			}
		}
		.single_cr_inner_first_state, .single_cr_inner_second_state {
			
		}
		.single_cr_inner_first_state {
			
		}
		.single_cr_inner_second_state {
			
			span.cr_int_amount {
				
			}
			span.cr_int_description {
				
				&:before {
					
				}
			}
		}
		span.cr_int_amount {
			
		}
		span.cr_int_title {
			
		}
		span.cr_int_result {
			
		}
	}
}

	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1060px) {
	
	
	
.cr_intro_page {
	max-width: 717px;
	padding-left:3%;
	padding-right:3%;
	span.cr_intro {
		letter-spacing: 0.2em;
	}
	.cr_intro_content {
		max-width: 550px;
		margin-left:auto;
		margin-right:auto;
	}
}





		
	
.cr_page_wrapper {
	 max-width: 630px;
	 margin: 78px auto 70px;;
	.single_int_cr.hover {
		.single_cr_inner_second_state {
			
			span.cr_int_amount, span.cr_int_description {
				
			}
		}
	}
	.single_int_cr {
		flex-basis: 100%;
		height: 420px;
		&:nth-of-type(2n + 1) {
			.single_cr_inner_first_state {
				
			}
		}
		&:nth-of-type(2n + 1) {
			.single_cr_inner_first_state {
				background: url(#{$themePath}images/ico-pattern-b.png) top left repeat;
			}
		}
		&:nth-of-type(2n + 2) {
			.single_cr_inner_first_state {
				background: url(#{$themePath}images/ico-pattern-a.png) top left repeat;
			}
		}
		.single_cr_inner_first_state, .single_cr_inner_second_state {
			
		}
		.single_cr_inner_first_state {
			padding: 118px 45px 0;
		}
		.single_cr_inner_second_state {
			
			span.cr_int_amount {
				
			}
			span.cr_int_description {
				
				&:before {
					margin:0px auto 20px;
				}
			}
		}
		span.cr_int_amount {
			
		}
		span.cr_int_title {
			
		}
		span.cr_int_result {
			
		}
	}
}

	
	
	
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
		
		
.cr_intro_page {
	max-width: 485px;
	padding-left:0;
	padding-right:0;
	padding-top: 33px;
	span.cr_intro {
	 font-size: 16px;	
	 line-height: 20px;
	 	margin-bottom: 19px;
	}
	.cr_intro_content {
		max-width: 450px;
		line-height: 28px;
	}
}
		
	
.cr_page_wrapper {
	margin: 52px auto 40px;
	.single_int_cr.hover {
		.single_cr_inner_second_state {
			
			span.cr_int_amount, span.cr_int_description {
				
			}
		}
	}
	.single_int_cr {
	
		&:nth-of-type(2n + 1) {
			.single_cr_inner_first_state {
				
			}
		}
		&:nth-of-type(2n + 1) {
			.single_cr_inner_first_state {
				
			}
		}
		&:nth-of-type(2n + 2) {
			.single_cr_inner_first_state {
				
			}
		}
		.single_cr_inner_first_state, .single_cr_inner_second_state {
			
		}
		.single_cr_inner_first_state {
			padding-top:0;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.single_cr_inner_second_state {
			padding-left:20px;
			padding-right:20px;
			span.cr_int_amount {
				
			}
			span.cr_int_description {
				
				&:before {
				
				}
			}
		}
		span.cr_int_amount {
			font-size: 67px;
		}
		span.cr_int_title {
			font-size: 17px;
			line-height: 21px;
		}
		span.cr_int_result {
			
		}
	}
}

	
	
	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 495px) {
	
	
	
	
.cr_intro_page {
	padding-top: 26px;
	span.cr_intro {
	 max-width: 250px;
	 margin-left:auto;
	 margin-right:auto;
	}
	.cr_intro_content {
		max-width: 450px;
	}
}

	
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 430px) {
	
	
	
	
	
.cr_page_wrapper {

	.single_int_cr.hover {
		.single_cr_inner_second_state {
			
			span.cr_int_amount, span.cr_int_description {
				
			}
		}
	}
	.single_int_cr {
	  height: 430px;
		&:nth-of-type(2n + 1) {
			.single_cr_inner_first_state {
				
			}
		}
		&:nth-of-type(2n + 1) {
			.single_cr_inner_first_state {
				
			}
		}
		&:nth-of-type(2n + 2) {
			.single_cr_inner_first_state {
				
			}
		}
		.single_cr_inner_first_state, .single_cr_inner_second_state {
			
		}
		.single_cr_inner_first_state {
			
		}
		.single_cr_inner_second_state {
			
			span.cr_int_amount {
				font-size: 58px;
			}
			span.cr_int_description {
				
				&:before {
				
				}
			}
		}
		span.cr_int_amount {
			font-size: 58px;
		}
		span.cr_int_title {
			
		}
		span.cr_int_result {
			
		}
	}
}

	
	
	
	
	
	
} /* Media Query */

