.contact_outer {
	display: flex;
}


.contact_left {
	flex-basis:47%;
	background:$greylight;
}

.contact_right {
	flex-basis:53%;
	padding:30px 75px 225px 6.5%;
	.contact_right_inner {
		max-width:778px;
		h1.contact_intro {
			color:$orangered;
			font-size:135px;
			letter-spacing: 0.04em;
			font-weight:300;
			font-style: normal;
			font-family: $actamedium;
			border-bottom: 2px solid $gold;
			padding-bottom:54px;
			display: block;
			margin-bottom:33px;
			&:before {
				content:"";
				background: url(#{$themePath}images/new-buffalo.svg);
				//background-size:cover;
				width:200px;
				height: 205px;
				display: block;
				position: relative;
				top:10px;
				left:-105px;
				z-index:-1;
			}
			&:after {
				display: none;
			}
		}
	}
}
	
