


.sidebar {
	flex-basis: 485px;
	flex-shrink:0;
	background: url(#{$themePath}images/ico-pattern.jpg) top left repeat;
	padding:123px 4% 100px 6%;
	ul {
		list-style: none;
		margin: 0;
		li {
			text-transform: uppercase;
			font-family: $worksemibold;
			letter-spacing: 0.15em;
			margin-bottom:47px;
			font-size: 15px;
			line-height: 18px;
			a {
				text-decoration: none;
				color:$bluedark;
				transition: all .2s ease-in-out;
				display: inline-block;
				&:hover {
					color:$gold;
				}
			}
		}
		li.current-menu-item {
			a {
				border-bottom: 4px solid $orangered;
				padding-bottom:5px;
				padding-right:30px;
				&:hover {
					color:$bluedark;
				}
			}
		}
	}
}


.container {
	flex-grow: 1;
	padding:120px 75px 180px 150px;
}


@media screen and (max-width: 1799px) {
	
	
	
	.container {
		padding: 120px 75px 180px;
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1175px) {
	
	
	.two_column {
		flex-direction: column;
	}
	
	.sidebar {
		flex-basis: 100%;
		order:2;
		padding: 78px 45px 28px;
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				max-width: 800px;
				margin-left:auto;
				margin-right:auto;
				li {
					flex-basis: 30.333%;
				}
			}
		}
	
	.container {
		flex-basis: 100%;
		order:1;
		padding: 92px 55px 50px;
	}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1060px) {
	
	
	.sidebar {
		
			ul {
				
				li {
					flex-basis: 43%;
				}
			}
		}
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	.int_main.visible {
		margin-top:87px;
	}
	
	.container {
		padding: 52px 20px;
	}
	
	
	
	
	
	.sidebar {
		  padding: 50px 45px 28px;
			ul {
				
				li {
					flex-basis: 100%;
				}
			}
		}
	
	
	
	
	
	    
	
	
	
} /* Media Query */