.pa_directory_wrapper {
	max-width:1400px;
	margin:0 auto;
	padding-top: 7px;
	ul {
		list-style: none;
		margin:0;
		li {
			a {
				
			}
		}
	}
	ul#menu-pa-sidebar {
		display: flex;
		flex-wrap:wrap;
		//justify-content: flex-start;
		justify-content: space-between;
		> li {
				font-family: $worksemibold;
				letter-spacing: 0.15em;
				font-size:16px;
				margin-bottom: 20px;
				flex-basis:23%;
				flex-grow: 0;
				line-height: 19px;
				margin-right:2.5%;
				text-transform: uppercase;
				&:nth-of-type(4n + 4) {
					margin-right:0;
				}
				> a {
					color:$bluedark;
					text-decoration: none;
					position: relative;
					display: inline-block;
					transition: all .2s ease-in-out;
					&:after {
						content:"";
						width:100%;
						height:3px;
						background: transparent;
						display: block;
						position: absolute;
						bottom:-10px;
						left:0;
						opacity: 0;
						transition: all .2s ease-in-out;
					}
					&:hover {
						color:$orangered;
						&:after {
							opacity: 1;
							background: $orangered;
						}
					}
				}
			}
		}
	}
	
	
	
	
	@media screen and (max-width: 1290px) {
		
		
		
		
		
.pa_directory_wrapper {
	
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul#menu-pa-sidebar {
		justify-content: flex-start;
		> li {
				flex-basis:30%;
				&:nth-of-type(4n + 4) {
					margin-right:2.5%;
				}
				&:nth-of-type(3n + 3) {
					margin-right:0%;
				}
				> a {
					
					&:after {
						
					}
					&:hover {
						
						&:after {
							
						}
					}
				}
			}
		}
	}
		
		
		
		
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 1060px) {
		
		
		
		
		
.pa_directory_wrapper {
	max-width: 787px;
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul#menu-pa-sidebar {
		margin: 0px 0 0px;
		> li {
				flex-basis: 45%;
				&:nth-of-type(4n + 4) {
					margin-right:2.5%;
				}
				&:nth-of-type(3n + 3) {
					margin-right:2.5%;
				}
				&:nth-of-type(2n + 2) {
					margin-right:0%;
				}
				> a {
					
					&:after {
						
					}
					&:hover {
						
						&:after {
							
						}
					}
				}
			}
		}
	}

		
		
		
		
		
		
		
	} /* Media Query */
	
	
	
	
	
	@media screen and (max-width: 767px) {
		
		
		
		
		
.pa_directory_wrapper {
	padding-top:25px;
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul#menu-pa-sidebar {
		
		> li {
				flex-basis: 100%;
				margin-right: 0;
				text-align: center;
				margin-bottom:25px;
				&:nth-of-type(4n + 4), &:nth-of-type(3n + 3), &:nth-of-type(2n + 2) {
					margin-right: 0;
				}
				> a {
					
					&:after {
						
					}
					&:hover {
						
						&:after {
							
						}
					}
				}
			}
		}
	}
		
		
		
		
		
	} /* Media Query */