.video_center {
	margin:128px auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 1603px;
}


.single_video_wrapper {
	width: 31.8%;
	text-align: center;
	border-top:2px solid $gold;
	padding-top:24px;
	margin-right:2.3%;
	height: 412px;
	margin-bottom:40px;
	&:nth-of-type(3n + 3) {
		margin-right:0;
	}
	&:hover {
		.play_wrapper {
			background: rgba(165, 125, 76, 0.8);
			.play_inner {
				svg {
					.play_button-cls-1{
						
					}
					.play_button-cls-2{
						fill:#fff;
					}
					.play_button-cls-3{
						opacity: 0;
					}
					.play_button-cls-4{
						fill:none;
						stroke-alignment:inner;
						stroke-width:3;
						stroke:#fff;
					}
					.play_button-cls-5{
						fill:#fff;
					}
				}
			}
		}
	}
	.video_inner_wrapper {
		position: relative;
		.my_wistia {
			width:100%;
			height:283px;
			display: block;
		}
	}
	span.video_title {
		font-size: 28px;
		color:$bluedark;
		font-family: $actabook;
		line-height: 32px;
		margin-top:23px;
		display: block;
	}
}



.play_wrapper {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.25);
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background 500ms ease;
	.play_inner {
		svg {
			width:168px;
			height:auto;
			.play_button-cls-1{
				isolation:isolate;
			}
			.play_button-cls-2{
				fill:#a57d4c;
				transition: all .1s ease-in-out;
			}
			.play_button-cls-3{
				opacity:0.72;mix-blend-mode:multiply;
			}.play_button-cls-4{
				fill:#fff;
				stroke-width:3;
				transition: all .2s ease-in-out;
			}
			.play_button-cls-5{
				fill:#b43301;
				transition: all .2s ease-in-out;
			}
		}
	}
}


@media screen and (max-width: 1340px) {
	
	
	
	
.video_center {
	
}


.single_video_wrapper {
	width: 48%;
	margin-right:4%;
	&:nth-of-type(3n + 3) {
		margin-right:4%;
	}
	&:nth-of-type(2n + 2) {
		margin-right:0%;
	}
	&:hover {
		.play_wrapper {
			
			.play_inner {
				svg {
					.play_button-cls-1{
						
					}
					.play_button-cls-2{
						
					}
					.play_button-cls-3{
						
					}
					.play_button-cls-4{
						
					}
					.play_button-cls-5{
						
					}
				}
			}
		}
	}
	.video_inner_wrapper {
		
		.my_wistia {
			
		}
	}
	span.video_title {
		
	}
}



.play_wrapper {
	
	.play_inner {
		svg {
			
			.play_button-cls-1{
				isolation:isolate;
			}
			.play_button-cls-2{
				
			}
			.play_button-cls-3{
				
			}.play_button-cls-4{
				
			}
			.play_button-cls-5{
				
			}
		}
	}
}

	
	
	
	
} /* Media Query */




@media screen and (max-width: 1060px) {
	
	
	
	.video_center {
		margin: 54px auto 0;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 999px) {
	
	
	
	.video_center {
	
}


.single_video_wrapper {
	width:100%;
	height:auto;
	margin-right:0;
	&:nth-of-type(3n + 3) {
		margin-right:0;
	}
	&:nth-of-type(2n + 2) {
		margin-right:0;
	}
	&:hover {
		.play_wrapper {
			
			.play_inner {
				svg {
					.play_button-cls-1{
						
					}
					.play_button-cls-2{
						
					}
					.play_button-cls-3{
						
					}
					.play_button-cls-4{
						
					}
					.play_button-cls-5{
						
					}
				}
			}
		}
	}
	.video_inner_wrapper {
		
		.my_wistia {
			height: 432px;
		}
	}
	span.video_title {
		
	}
}



.play_wrapper {
	
	.play_inner {
		svg {
			width:225px;
			.play_button-cls-1{
				isolation:isolate;
			}
			.play_button-cls-2{
				
			}
			.play_button-cls-3{
				
			}.play_button-cls-4{
				
			}
			.play_button-cls-5{
				
			}
		}
	}
}

	
	
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.video_center {
	  max-width: 570px;
	  margin-top:0;
}


.single_video_wrapper {
	
	&:nth-of-type(3n + 3) {
		
	}
	&:nth-of-type(2n + 2) {
		
	}
	&:hover {
		.play_wrapper {
			
			.play_inner {
				svg {
					.play_button-cls-1{
						
					}
					.play_button-cls-2{
						
					}
					.play_button-cls-3{
						
					}
					.play_button-cls-4{
						
					}
					.play_button-cls-5{
						
					}
				}
			}
		}
	}
	.video_inner_wrapper {
		
		.my_wistia {
			height:325px;
		}
	}
	span.video_title {
		font-size: 25px;
		line-height: 29px;
	}
}



.play_wrapper {
	
	.play_inner {
		svg {
			width:200px;
			.play_button-cls-1{
				isolation:isolate;
			}
			.play_button-cls-2{
				
			}
			.play_button-cls-3{
				
			}.play_button-cls-4{
				
			}
			.play_button-cls-5{
				
			}
		}
	}
}


	
	
	
} /* Media Query */


@media screen and (max-width: 500px) {
	
	
		
	.video_center {
	  
}


.single_video_wrapper {
	
	&:nth-of-type(3n + 3) {
		
	}
	&:nth-of-type(2n + 2) {
		
	}
	&:hover {
		.play_wrapper {
			
			.play_inner {
				svg {
					.play_button-cls-1{
						
					}
					.play_button-cls-2{
						
					}
					.play_button-cls-3{
						
					}
					.play_button-cls-4{
						
					}
					.play_button-cls-5{
						
					}
				}
			}
		}
	}
	.video_inner_wrapper {
		
		.my_wistia {
			height: 290px;
		}
	}
	span.video_title {
		
	}
}



.play_wrapper {
	
	.play_inner {
		svg {
			width:170px;
			.play_button-cls-1{
				isolation:isolate;
			}
			.play_button-cls-2{
				
			}
			.play_button-cls-3{
				
			}.play_button-cls-4{
				
			}
			.play_button-cls-5{
				
			}
		}
	}
}
	
	
	
	
	
	
} /* Media Query */