footer {
	width:100%;
}



.form_outer {
	background: $bluedark;
	
}


.form_inner {
	max-width:1110px;
	margin:0 auto;
	padding:156px 0 90px;
	span.footer_title {
		color:$gold;
		font-family: $actabook;
		font-size:125px;
		line-height: 130px;
		letter-spacing: 0.05em;
		max-width: 720px;
		display: block;
	}
	span.footer_description {
		display: block;
		color:#fff;
		font-size:20px;
		font-family: $workmedium;
		line-height: 45px;
		max-width:595px;
		width:100%;
		float:right;
		position: relative;
		padding-left:80px;
		margin:5px 0 0;
		&:before {
			content:"";
			width:55px;
			height:2px;
			background: $orangered;
			display: block;
			position: absolute;
			top:23px;
			left:0;
		}
	}
	.form_wrapper {
		clear:both;
		width:100%;
		padding:78px 0;
		ul {
			list-style: none;
			margin:0;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li#field_1_4 {
				flex-basis: 100%;
				margin-bottom: 0;
			}
			li {
				flex-basis: 32%;
				margin-bottom:55px;
				label {
					color:#fff;
					text-transform: uppercase;
					font-family: $workextrabold;
					letter-spacing: 0.25em;
					font-size:14px;
					display: block;
					margin-bottom:21px;
					span.gfield_required {
						color:$orangered;
					}
				}
				input, textarea {
					background: transparent;
					border:0;
					border-bottom:4px solid $grey;
					width:100%;
					font-size:32px;
					color:#fff;
					font-family: $actabookitalic;
					padding:7px 0;
					letter-spacing: 0.03em;
					&:focus {
						border-bottom:4px solid $gold;
					}
				}
				textarea {
					height:128px;
				}
			}
		}
	}
	input[type="submit"] {
		border:none;
		color:#fff;
		font-family: $tradegothic;
		font-size: 22px;
		letter-spacing: 0.12em;
		text-transform: lowercase;
		box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
		padding:21px 49px;
		margin-top:27px;
		background: $orangered;
		transition: all .2s ease-in-out;
		cursor: pointer;
		&:hover {
			background:$gold;
		}
	}
	span.required {
		color:$gold;
		text-transform: uppercase;
		font-family: $workextrabold;
		font-size:14px;
		letter-spacing: 0.25em;
		float:right;
		margin-top:-43px;
		span {
			color:$orangered;
		}
	}
}

.validation_error {
	display: none;
}

.gfield_description, .validation_message {
	color:$orangered;
	font-family: $worksemibold;
	font-size:13px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	margin-top:8px;
}


.footer_location {
	text-align: center;
	padding-bottom:75px;
	span.footer_goldline {
		width:1px;
		height:95px;
		background: $gold;
		display: block;
		margin-left:auto;
		margin-right: auto;
	}
	span.firm_name {
		text-transform: uppercase;
		color:$orangered;
		font-size:15px;
		letter-spacing: 0.3em;
		font-family: $workextrabold;
		display: block;
		margin:40px 0 25px;
	}
	a.footer_adress, a.footer_phone {
		color:$bluedark;
		font-size:30px;
		text-decoration: none;
		line-height: 38px;
		display: block;
		font-family: $actabook;
		margin-left:auto;
		margin-right:auto;
		transition: all .2s ease-in-out;
		&:hover {
			color:$orangered;
		}
	}
	a.footer_adress {
		max-width: 300px;
	}
	a.footer_phone {
		letter-spacing: 0.05em;
		margin-top:25px;
	}
}


ul.social_links {
	list-style: none;
	margin-top:90px;
	li {
		display: inline-block;
		font-size:25px;
		font-family: $actabook;
		text-transform: lowercase;
		margin:0 18px;
		a {
			color:$gold;
			text-decoration: none;
		}
	}
}



.copyright {
	background: $greylight;
	width:100%;
	
}

.copyright_inner {
	max-width:1910px;
	padding:0 45px;
	height:90px;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



ul.copyright_left {
	list-style: none;
	li {
		&:nth-of-type(2) {
			&:after {
				content:"";
				width:4px;
				height:4px;
				display: inline-block;
				border-radius: 50%;
				background: $bluedark;
				margin-left:9px;
				margin-right:2px;
				position: relative;
				top:-2px;
			}
		}
	}
	li {
		display: inline-block;
		text-transform: uppercase;
		font-size:13px;
		font-family: $worksemibold;
		letter-spacing: 0.05em;
		color: $bluedark;
		letter-spacing: 0.05em;
		margin-right:5px;
		a {
			text-decoration: none;
			color: $bluedark;
			transition: all .2s ease-in-out;
			position: relative;
			&:hover {
				color:$orangered;
				text-decoration: underline;
			}
		}
	}
}


a.ilawyer {
	img {
		width:300px;
		height: auto;
	}
}


@media screen and (max-width: 1450px) {
	
	
	.form_inner {
		padding: 111px 50px 31px;
		max-width: 1210px;
	}
	
	
	
	
.footer_location {
	
	span.footer_goldline {
		height: 81px;
	}
	span.firm_name {
		margin-top: 40px;
	}
	a.footer_adress, a.footer_phone {
		
		&:hover {
			
		}
	}
	a.footer_adress {
		
	}
	a.footer_phone {
		
	}
}


ul.social_links {
	 margin-top: 83px;
	li {
		
		a {
			
		}
	}
}








.copyright {

	
}

.copyright_inner {
	
}



ul.copyright_left {
	
	li {
		&:nth-of-type(2) {
			&:after {
				
				
			}
		}
	}
	li {
		
		a {
			
			
			&:hover {
				
			}
		}
	}
}


a.ilawyer {
	img {
		
	}
}





	
	
	
	
} /* Media Query */




@media screen and (max-width: 1250px) {
	
	
.form_inner {
	
	span.footer_title {
		font-size: 113px;
		line-height: 118px;
	}
	span.footer_description {
		font-size: 18px;
		line-height: 42px;
		margin-top:23px;
		max-width: 486px;
		&:before {
			
		}
	}
	.form_wrapper {
		
		ul {
			display: block;
			li#field_1_4 {
				padding-top: 13px
			}
			li {
				margin-bottom: 50px;
				label {
					margin-bottom: 18px;
					span.gfield_required {
						
					}
				}
				input, textarea {
					
					&:focus {
						
					}
				}
				textarea {
					
				}
			}
		}
	}
	input[type="submit"] {
		font-size: 19px;
		padding: 15px 49px;
		margin-top: 31px;
		&:hover {
			
		}
	}
	span.required {
		margin-top: -36px;
		span {
			
		}
	}
}
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1100px) {
	
	
	
.copyright {

	
}

.copyright_inner {
	flex-direction: column;
	height: auto;
	padding-top:39px;
	padding-bottom:35px;
}



ul.copyright_left {
	text-align: center;
	max-width: 420px;
	margin-bottom:28px;
	li {
		line-height: 20px;
		&:nth-of-type(2) {
			&:after {
				
				
			}
		}
	}
	li {
		
		a {
			
			
			&:hover {
				
			}
		}
	}
}


a.ilawyer {
	img {
		
	}
}



	
	
	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
.form_inner {
	padding: 83px 20px 65px;
	span.footer_title {
		font-size: 72px;
		line-height: 75px;
		max-width: 430px;
	}
	span.footer_description {
		display: none;
		&:before {
			
		}
	}
	.form_wrapper {
		padding: 94px 0;
		ul {
			
			li#field_1_4 {
				
			}
			li {
				
				label {
					
					span.gfield_required {
						
					}
				}
				input, textarea {
					
					&:focus {
						
					}
				}
				textarea {
					
				}
			}
		}
	}
	input[type="submit"] {
		padding: 15px 29px;
		&:hover {
			
		}
	}
	span.required {
		
		span {
			
		}
	}
}
	
	





.footer_location {
	padding-bottom: 62px;
	span.footer_goldline {
		height: 60px;
	}
	span.firm_name {
		
	}
	a.footer_adress, a.footer_phone {
		font-size: 28px;
		margin-top: 22px;
		&:hover {
			
		}
	}
	a.footer_adress {
		
	}
	a.footer_phone {
		
	}
}


ul.social_links {
	margin-top: 42px;
	li {
		font-size: 18px;
		margin: 0 6px;
		a {
			
		}
	}
}

	
	
.copyright_inner {
	padding:39px 15px 28px;
}



ul.copyright_left {
	max-width: 260px;
	li {
		
		&:nth-of-type(2) {
			&:after {
				
				
			}
		}
	}
	li {
		
		a {
			
			
			&:hover {
				
			}
		}
	}
}


a.ilawyer {
	
	img {
		width:100%;
		max-width:300px;
	}
}

	
	
	
} /* Media Query */


@media screen and (max-width: 455px) {
	
	
	
.form_inner {
	padding: 83px 18px 65px;
	span.footer_title {
		max-width: 337px;
	}
	span.footer_description {
		
		&:before {
			
		}
	}
	.form_wrapper {
		padding: 98px 0px 31px;
		ul {
			
			li#field_1_4 {
				
			}
			li {
				
				label {
					
					span.gfield_required {
						
					}
				}
				input, textarea {
					
					&:focus {
						
					}
				}
				textarea {
					
				}
			}
		}
	}
	input[type="submit"] {
		
		&:hover {
			
		}
	}
	span.required {
		
		span {
			
		}
	}
}
	
	
	
	
	
	
} /* Media Query */

