footer {
	background: $bluedark;
	width:100%;
	padding:0 45px;
}


.footer_inner {
	max-width:1110px;
	margin:0 auto;
	padding:156px 0;
	span.footer_title {
		color:$gold;
		font-family: $actabook;
		font-size:125px;
		line-height: 130px;
		letter-spacing: 0.05em;
		max-width: 720px;
		display: block;
	}
	span.footer_description {
		display: block;
		color:#fff;
		font-size:20px;
		font-family: $workmedium;
		line-height: 45px;
		max-width:595px;
		width:100%;
		float:right;
		position: relative;
		padding-left:80px;
		margin:5px 0 0;
		&:before {
			content:"";
			width:55px;
			height:2px;
			background: $orangered;
			display: block;
			position: absolute;
			top:23px;
			left:0;
		}
	}
	.form_wrapper {
		clear:both;
		width:100%;
		padding:78px 0;
		ul {
			list-style: none;
			margin:0;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li#field_1_4 {
				flex-basis: 100%;
				margin-bottom: 0;
			}
			li {
				flex-basis: 32%;
				margin-bottom:55px;
				label {
					color:#fff;
					text-transform: uppercase;
					font-family: $workextrabold;
					letter-spacing: 0.25em;
					font-size:14px;
					display: block;
					margin-bottom:21px;
					span.gfield_required {
						color:$orangered;
					}
				}
				input, textarea {
					background: transparent;
					border:0;
					border-bottom:4px solid $grey;
					width:100%;
					font-size:32px;
					color:#fff;
					font-family: $actabookitalic;
					padding:7px 0;
					letter-spacing: 0.03em;
					&:focus {
						border-bottom:4px solid $gold;
					}
				}
				textarea {
					height:128px;
				}
			}
		}
	}
	input[type="submit"] {
		border:none;
		color:#fff;
		font-family: $tradegothic;
		font-size: 22px;
		letter-spacing: 0.12em;
		text-transform: lowercase;
		box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
		padding:24px 49px;
		margin-top:27px;
		background: $orangered;
		transition: all .2s ease-in-out;
		cursor: pointer;
		&:hover {
			background:$gold;
		}
	}
}

.validation_error {
	display: none;
}

.gfield_description, .validation_message {
	color:$orangered;
	font-family: $worksemibold;
	font-size:13px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	margin-top:8px;
}


