#section_five {
	padding-left:75px;
	padding-right:47px;
}


.sec_five_inner {
	max-width:1415px;
	margin:237px auto 190px;
	.sec_five_intro {
		color:$gold;
		font-size:55px;
		line-height: 70px;
		font-family: $actamedium;
		width:100%;
		max-width:990px;
		display: block;
	}
}


.sec_five_content_wrapper {
	margin: 102px 0; 
	display: flex;
	justify-content: space-between;	
}


.sidenote {
	font-family: $tradegothic;
	text-transform: uppercase;
	font-size:22px;
	line-height: 30px;
	letter-spacing: 0.1em;
	color:$bluedark;
	display: inline-block;
	border-top:7px solid $orangered;
	padding:27px 0 0;
	flex-basis:275px;
	flex-shrink: 0;
	flex-grow: 0;
}


.sec_five_content {
	margin-top:-12px;
	display: flex;
	justify-content: space-between;
	padding-left:7%;
}


.sec_five_col {
		flex-basis:46%;
}


@media screen and (max-width: 1450px) {
	
	
	.sec_five_inner {
    max-width: 1415px;
    margin: 148px auto 100px;
    .sec_five_intro {
	    
    }
  }
  
  .sec_five_content {
		padding-left:5%;
	}
	
	.sec_five_col {
		flex-basis:47.5%;
	}

	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	
	.sidenote {
		flex-basis:200px;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1060px) {
	
	
	#section_five {
		padding-left:55px;
		padding-right:55px;
	}
	
	.sec_five_content_wrapper {
		flex-direction: column;
		margin: 65px 0;
	}
	
	.sec_five_inner {
		margin: 85px auto 93px;
		.sec_five_intro {
			font-size:40px;
			line-height: 60px;
		}
	} 
	
	.sidenote {
		flex-basis:100%;
		max-width:275px;
	}
	
	.sec_five_content {
		padding-left:0;
		flex-direction: column;
		margin-top:68px;
	}
	
	.sec_five_col {
		flex-basis: 100%;
		display: block;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	#section_five {
		padding-left:23px;
		padding-right:23px;
	}
	
	.sec_five_content_wrapper {
		margin: 78px 0 0;
	}
	    
	
	.sec_five_inner {
		margin: 82px auto 58px;
		.sec_five_intro {
			font-size:30px;
			line-height: 40px;
		}
	}
	
	
	.sec_five_content {
		margin-top: 49px;
	} 
	
	
	
	
} /* Media Query */

