#section_one {
	position: relative;
	&:after {
		content:"";
		clear:both;
		display:block;
	}
}

.section_one_left {
	background: url(#{$themePath}images/hero-img.jpg) top center no-repeat;
	width:calc(100% - 860px);
	float:left;
	background-size:cover;
	position: absolute;
	top:0;
	left:0;
	height:100%;
}


.section_one_right {
	width: 860px;
	float:right;
	background: $bluedark;
	flex-shrink:0;
	flex-grow:0;
	padding-bottom:50px;
	span.large_header {
		font-size:95px;
		margin-top:143px;
		line-height: 95px;
		letter-spacing: 0.02em;
		font-family: $actabook;
		color:#fff;
		display: block;
		padding-left:72px;
		padding-right:95px;
		strong {
			font-weight: 300;
			color:$gold;
		}
	}
}

a.start_button {
	background:$orangered;
	margin-right:95px;
	float:right;
	display: inline-block;
	color:#fff;
	text-decoration: none;
	padding:26px 42px;
	font-family: $tradegothic;
	font-size: 22px;
	letter-spacing: 0.1em;
	margin-top:18px;
	margin-bottom:82px;
	transition: all .2s ease-in-out;
	box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
	&:hover {
		background: $gold;
	}
}



.sp_slideshow {
	clear:both;
	width:100%;
	position: relative;
	padding:0 30px;
	margin:0 auto;
	max-width:780px;
	.sp_single_slide {
		box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.3);
		padding:43px 33px 43px 0;
		margin:20px;
		height:290px;
		&:after {
			content:"";
			clear:both;
			display: block;
		}
		.sp_svg {
			width:256px;
			float:left;
			text-align: center;
			svg {
				display: block;
				margin:0 auto;
			}
			svg#sp_one {
				width:187px;
			}
			svg#sp_two {
				width:195px;
				margin-top:10px;
			}
			svg#sp_three {
				width:223px;
			}
		}
		
		.sp_content_wrapper {
			float:left;
			width:calc(100% - 256px);
			margin:17px 0 0;
			max-width:425px;
			span.sp_title {
				display: block;
				font-family: $workextrabold;
				color:#fff;
				text-transform: uppercase;
				letter-spacing: 0.3em;
				font-size: 18px;
				border-bottom:1px solid $gold;
				padding-bottom:17px;
				margin:0px 0 25px;
				span.number {
					letter-spacing: 0.35em;
					margin-right:12px;
				}
			}
			span.sp_content {
				color:#fff;
				font-size: 17px;
				line-height: 32px;
				letter-spacing: 0.02em;
				font-family: $workregular;
			}
		}
	}
	.slick-dots {
		top: 130px;
		right:-8px;
		width:20px;
		li.slick-active {
			button {
				&:before {
					color:$gold;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$gold;
				}
			}
		}
		li {
			margin:0;
			width:16px;
			height: 16px;
			button {
				width:16px;
				&:before {
					width:16px;
					opacity: 1;
					color: #4d575b;
					font-size:28px;
				}
			}
		}
	}
}



@media screen and (max-width: 1500px) {
	
	
	.section_one_left {
		width: calc(100% - 696px);
	}
	
	
.section_one_right {
	width:696px;
	padding-bottom: 17px;
	span.large_header {
		font-size:66px;
		line-height: 68px;
		letter-spacing: 0.02em;
		 margin-top: 67px;
		strong {
			
		}
	}
}



a.start_button {
	font-size: 19px;
	letter-spacing: 0.1em;
	padding: 24px 36px;
	margin-bottom:50px;
	margin-top: 14px;
	margin-right: 64px;
	&:hover {
	
	
	}
}
	
	
	.sp_slideshow {
		max-width: 659px;
		.sp_single_slide {
			padding: 35px 33px 40px 5px;
			height: 266px;
			.sp_svg {
				width:190px;
				svg {
				
				}
				svg#sp_one {
					width:155px;
					margin-top:15px;
				}
				svg#sp_two {
					width:155px;
					margin-top:20px;
				}
				svg#sp_three {
					width:170px;
					margin-top:18px;
				}
			}
			.sp_content_wrapper {
				margin: 15px 0 0;
				width: calc(100% - 190px);
				max-width:320px;
				span.sp_title {
					font-size: 16px;
					padding-bottom: 12px;
					margin: 0px 0 17px;
				}
				span.sp_content {
					font-size: 16px;
					line-height: 30px;
				}
			}
		}
		.slick-dots {
			right: 5px;
		}
	}
	
	    
	
} /* Media Query */



@media screen and (max-width: 1400px) {
	
	
	.section_one_left {
		background-position-x: -70px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
	.section_one_left {
		background-position-x: -170px;
	}
	
	
	
	
	
} /* Media Query */






@media screen and (max-width: 1125px) {
	
	
	
	.section_one_left {
		display: none;
	}
	
	.section_one_right {
		width:100%;
		float:none;
		padding-bottom:0;
		background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)) repeat scroll 0 0%, rgba(0, 0, 0, 0) url(#{$themePath}images/hero-img.jpg) top center no-repeat;
		background-size:cover;
		text-align: center;
		background-size: 1170px;
		background-position-y: -100px;
		span.large_header {
			margin:0;
			font-size:55px;
			line-height: 60px;
			letter-spacing: 0.02em;
			padding:115px 45px 0;
			max-width:700px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
	
	a.start_button {
		float:none;
		font-size: 17px;
		padding:19px 29px;
		margin:22px auto 87px;
	}
	
	
	.sp_slideshow_outer {
		background: $bluedark;
		padding: 45px 0 8px;
	}
	
	.sp_slideshow {
		max-width: 709px;
		.sp_single_slide {
			text-align: left;
			.sp_content_wrapper {
				 max-width: 341px;
				 padding-left:12px;
			}
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	
	.section_one_right {
		background-size:contain;
		background-position-y: -65px;
		span.large_header {
			font-size:39px;
			line-height: 48px;
			padding: 125px 20px 0;
			letter-spacing: 0.02em;
			max-width: 450px;
		}
	}
	


.sp_slideshow_outer {
	padding: 22px 0 8px;
}

.sp_slideshow {
	padding:0;
	max-width: 569px;
	.sp_single_slide {
		padding: 32px 10px 42px;
		height:auto;
		.sp_svg {
			float:none;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:19px;
			svg#sp_one, svg#sp_two, svg#sp_three {
			width: 155px;
			height: 172px;
			margin-top:0;
			}
		}
		.sp_content_wrapper {
			float:none;
			margin-left:auto;
			margin-right:auto;
			width:100%;
			max-width: 430px;
			span.sp_title {
				text-align: center;
				padding-bottom:23px;
				margin: 0px 0 22px;
				span.number {
					display: block;
					margin-bottom:8px;
				}
			}
		}
	}
	.slick-dots {
		width:100%;
		top:auto;
		bottom:-17px;
		right:0;
	}
} 







} /* Media Query */
	
	
	
	
	@media screen and (max-width: 535px) {
		
		.section_one_right {
			background-position-y: -55px;
		}
		
		
	} /* Media Query */
	
	
	
	@media screen and (max-width: 487px) {
		
		
		.section_one_right {
			background-position-y: -45px;
			background-size:cover;
			background-size: 487px;
		}
		
		
		a.start_button {
			margin: 22px auto 75px;
		}
		
		
		
		
	} /* Media Query */




