#section_four {
	position: relative;
/*
	&:before {
			content:"";
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			background: url(#{$themePath}images/ico-pattern.png) top left repeat;
			opacity: 0.77;
			z-index:1;
			pointer-events: none;
		}
*/
		&:after {
		content:"";
		clear:both;
		display: block;
	}
	
	
	
	.single_result.sr_one, .single_result.sr_three {
		a.view_more_button {
				display: none;
		}
	}
	
	.single_result.sr_one {
		
	}
	.single_result.sr_two {
		background: #e9e9e9;
			svg {
				margin-top:257px;
				width: 78px;
			}
	}
	.single_result.sr_three {
			svg {
				margin-top:267px;
				width: 69px;
			}
	}
	.single_result {
		width: 33.333%;
		float:left;
		height:915px;
		text-align: center;
		background: #eeeeee;
		position: relative;
		&:before {
			content:"";
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			background: url(#{$themePath}images/ico-pattern.png) top left repeat;
			opacity: 0.77;
			z-index:1;
			pointer-events: none;
		}
		.results_inner {
			position: relative;
			z-index: 5;
		}
		a.view_more_button {
			background: $orangered;
			margin-top:73px;
			text-decoration: none;
			color:#fff;
			text-transform: lowercase;
			font-family: $tradegothic;
			font-size: 22px;
			letter-spacing: 0.12em;
			padding:25px 50px;
			display: inline-block;
			box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
			transition: all .2s ease-in-out;
			&:hover {
				background: $grey;
			}
		}
		svg {
			width:82px;
			display: block;
			margin-left:auto;
			margin-right:auto;
			margin-top:265px;
		}
		span.amount {
			color:$gold;
			display: block;
			font-family: $actamedium;
			font-size:85px;
			margin-top:55px;
		}
		span.case_type {
			text-transform: uppercase;
			font-size: 18px;
			font-family: $workbold;
			letter-spacing: 0.15em;
			color:#39454b;
			display: block;
			margin-top:15px;
		}
		span.result_title {
			text-transform: lowercase;
			color:$orangered;
			font-family: $actamediumitalic;
			font-size: 22px;
			letter-spacing: 0.05em;
			display: block;
			margin-top:30px;
		}
	}
}




@media screen and (max-width: 1540px) {
	
	
	
#section_four {
	
	&:before {
		
	}
	.single_result.sr_one {
		
	}
	.single_result.sr_two {
		
			svg {
				margin-top: 135px;
			}
	}
	.single_result.sr_three {
			svg {
				margin-top: 145px;
			}
	}
	.single_result {
		height: 667px;
		a.view_more_button {
			font-size:19px;
			padding: 24px 57px;
			&:hover {
		
		}
	}
		.results_inner {
			
		}
		svg {
			margin-top: 142px;
		}
		span.amount {
			font-size: 70px;
			margin-top: 58px;
		}
		span.case_type {
			font-size:17px;
			margin-top: 25px;
		}
		span.result_title {
			margin-top: 27px;
		}
	}
}



	
	
	
	
} /* Media Query */



@media screen and (max-width: 1220px) {
	
	
	
	#section_four {
		.single_result {
			height: 617px;
			span.amount {
				 margin-top: 26px;
			}
			span.case_type {
				margin-top: 17px;
			}
			span.result_title {
				margin-top: 33px;
			}
			a.view_more_button {
				font-size:19px;
				padding: 17px 30px;
				margin-top: 45px;
				&:hover {
		
			}
		}
		}
		.single_result.sr_one {
			svg {
				margin-top: 115px;
			}
		}
		.single_result.sr_two {
			svg {
				margin-top: 105px;
			}
		}
		.single_result.sr_three {
			svg {
				margin-top: 115px;
			}
		}
		.single_result.sr_one, .single_result.sr_three {
			a.view_more_button {
				display: inline-block;
			}
		}
		.single_result.sr_two {
			background: #eeeeee;
		}
		.slick-dots {
			bottom: 70px;
			li.slick-active {
				button {
					&:before {
						color:$orangered;
					}
				}
			}
			li:hover {
				button {
					&:before {
						color:$orangered;
					}
				}
			}
			li {
				margin:0;
				width:18px;
				button {
					width:18px;
					&:before {
						width:18px;
						opacity: 1;
						color: $grey;
						font-size:28px;
					}
				}
			}
		}
	} 
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	
	
	
	#section_four {
		.single_result {
			height: 657px;
			span.amount {
				font-size: 56px;
				margin-top: 30px;
			}
			span.case_type {
				margin-top: 22px;
				max-width: 200px;
				line-height: 26px;
				margin-left:auto;
				margin-right:auto;
			}
			span.result_title {
				font-size:27px;
				margin-top: 28px;
			}
			a.view_more_button {
				margin-top: 26px;
				&:hover {
		
			}
		}
		}
		.single_result.sr_one {
			svg {
				margin-top: 107px;
				width:100px;
			}
		}
		.single_result.sr_two {
			svg {
				margin-top: 103px;
				width:90px;
			}
		}
		.single_result.sr_three {
			svg {
				margin-top: 108px;
				width:90px;
			}
		}
		.single_result.sr_one, .single_result.sr_three {
			a.view_more_button {
				
			}
		}
		.single_result.sr_two {
			
		}
		.slick-dots {
			bottom: 84px;
			li.slick-active {
				button {
					&:before {
						
					}
				}
			}
			li:hover {
				button {
					&:before {
						
					}
				}
			}
			li {
				width:25px;
				button {
					width:25px;
					&:before {
						width:25px;
					}
				}
			}
		}
	} 
	
	
	
	
	
	
	
} /* Media Query */

